<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shopping_Online"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".admin.layoutadmin.DetailVoucherAdminLayout"
            android:exported="false" />
        <activity
            android:name=".admin.layoutadmin.DetailProductAdminLayout"
            android:exported="false" />
        <activity
            android:name=".admin.layoutadmin.AdminLayout"
            android:exported="false" />
        <activity
            android:name=".layout.ChangePassLayout"
            android:exported="false" />
        <activity
            android:name=".layout.ChangeSDTAcountLayout"
            android:exported="false" />
        <activity
            android:name=".layout.ChangeNameAcountLayout"
            android:exported="false" />
        <activity
            android:name=".layout.UpdateLocationLayout"
            android:exported="false" />
        <activity
            android:name=".layout.AddLocationLayout"
            android:exported="false" />
        <activity
            android:name=".layout.LocationTakeProductLayout"
            android:exported="false" />
        <activity
            android:name=".layout.HistoryPaymentLayout"
            android:exported="false" />
        <activity
            android:name=".layout.AddItemCart"
            android:exported="false" />
        <activity
            android:name=".layout.UseCardLayout"
            android:exported="false" />
        <activity
            android:name=".layout.DetailProductLayout"
            android:exported="false" />
        <activity
            android:name=".layout.AllProductLayout"
            android:exported="false" />
        <activity
            android:name=".layout.VoucherLayout"
            android:exported="false" />
        <activity
            android:name=".layout.PaymentLayout"
            android:exported="false" />
        <activity
            android:name=".layout.MyCardLayout"
            android:exported="false" />
        <activity
            android:name=".layout.MyReviewLayout"
            android:exported="false" />
        <activity
            android:name=".layout.CartLayout"
            android:exported="false" />
        <activity
            android:name=".layout.AcountLayout"
            android:exported="false" />
        <activity
            android:name=".layout.ASMGD1"
            android:exported="false" />
        <activity
            android:name=".layout.MenuLayout"
            android:exported="false" />
        <activity
            android:name=".layout.BannerLayout"
            android:exported="false" />
        <activity
            android:name=".layout.RegisterLayout"
            android:exported="false" />
        <activity
            android:name=".layout.LoginLayout"
            android:exported="false" />
        <activity
            android:name=".layout.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>